<html>
  <body>
    <% @artworks.each do |artwork| %>
    <p>Title: <%= artwork.title %></p>
    <p>Title: <%= artwork.artist %></p>
    <p>Title: <%= artwork.location %></p>
    <% end %>
  </body>
</html>
