<html>
  <body class="welcome_body">
    <h1>Welcome to the Collection of Denver Public Art</h1>
    <p>Denver has a wide varitey of public art spread out all over the city.</p>
    <p>If you set up an account with the Collection of Denver Public Art you</p>
    <p>can select works of art by location and add them as favorites to your profile.</p>
    <p>When you select a favorite you will be able to rate it from 1 to 5 and leave your own personal comment.</p><br>
    <%= link_to "Create a New Account", new_user_path %>
    <%= link_to "I already have an account", login_path %>
  </body>
</html>
